<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <fintoc_payment>
                <active>0</active>
                <model>Fintoc\Payment\Model\Payment</model>
                <title>Paga con tu Banco</title>
                <api_base_url>https://api.fintoc.com</api_base_url>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <allowspecific>0</allowspecific>
                <logging_enabled>1</logging_enabled>
                <debug_level>200</debug_level>
                <log_sensitive_data>0</log_sensitive_data>
                <debug>0</debug>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <payment_method_types>bank_transfer</payment_method_types>
                <sort_order>1</sort_order>
                <max_order_amount>150000</max_order_amount>
            </fintoc_payment>
        </payment>
    </default>
</config>
